<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="card col-sm-10">
        <!--公告板-->
        <div id="showBoard" class="card-body">
        </div>

        <script>
            $(document).ready(function (){
                $.get("/user/getNotice",function (data){
                    if(data!=null){
                        document.getElementById("showBoard").innerText=data;
                    }
                    else{
                        document.getElementById("showBoard").innerText="暂无消息";
                    }
                })
            });
        </script>


    </div>
    <a href="/user/student">学生入口</a>
    <a href="/user/teacher">老师入口</a>
    <a href="/user/manage">管理入口</a>
    <a href="/user/dailyinfo">快速疫情填报</a>
    <a href="/user/basicinfo">快速基本信息填报</a>
    <a href="/situation">疫情最新状况</a>
    <a href="/user/return">快速返校信息填报</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>