<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.DailyinfoMapper">

    <select id="queryById" parameterType="int" resultType="com.example.system.bean.Dailyinfo">
        select * from dailyInfo where id=#{id}
    </select>

    <select id="queryAll" resultType="com.example.system.bean.Dailyinfo">
        select  * from dailyInfo
    </select>

    <select id="getMaxDate" resultType="Date">
        select max(fillingDate) from dailyInfo
    </select>

    <select id="getMinDate" resultType="Date">
        select min(fillingDate) from dailyInfo
    </select>

    <select id="queryByNum"  resultType="com.example.system.bean.Dailyinfo">
        select * from dailyInfo where num=#{num}
    </select>

    <select id="getWhiteList" resultType="com.example.system.bean.Basicinformation">
        select  basicinformation.* from dailyinfo,basicinformation where dailyinfo.id=basicinformation.id and timestampdiff(day,fillingDate,CURRENT_TIMESTAMP) &lt;= 14 and fill=true and temofAm
        between 36 and 37.2 and temofPm between 36 and 37.2 and mIsolation = false and touchInfected = false and crossed =false and travelHRA =false and touchHRA = false
    </select>

    <insert parameterType="com.example.system.bean.Dailyinfo" id="addinfo">
        INSERT InTO dailyinfo(id,fillingDate,fill,temOfAm,temOfPm,health,position,address,mIsolation,outside,touchInfected,crossed,travelHRA,touchHRA,returned)
        values(#{id},CURRENT_TIMESTAMP,#{fill},#{temOfAm},#{temOfPm},#{health},#{position},#{address},#{mIsolation},#{outside},#{touchInfected},#{crossed},#{travelHRA},#{touchHRA},#{returned})
    </insert>

    <select id="getTodayNum" resultType="int">
        SELECT count(*) FROM dailyinfo WHERE year(fillingDate)=year(now()) and month(fillingDate) = month(now()) and day(fillingDate) = day(now());
    </select>
</mapper>