<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.system.mapper.NoticeMapper">

    <select id="saveNotice" parameterType="Notice">
        insert into notice(id,type,content,time) values(#{id},#{type},#{content},#{time})
    </select>
    <select id="getNewNotice" resultType="String">
        select content from notice where time=(select max(time) from notice)
    </select>

</mapper>